<%-include ("./partials/header")%>
<h1>Hospital At Your Doors</h1>
<style>
body{
    background-image: url(https://somnomed.com/wp-content/uploads/2017/09/background-website-image-1-2.jpg);
background-size:cover;}</style>

<%-include ("./partials/footer")%>